html, body {
    background-color: #CBC3E3;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple;
}

.align {
    display: flex;
    align-items: center;
}

#purchases {
    flex-direction: column;
    margin-left: 10px;
}

li {
    background-color: white;
}

#purchaseTable {
    padding: 70px;
    border: 5px solid purple;
    background-color: #CBC3E3;
    display: flex;
    flex-direction: row;
    color: purple;
}

button {
    background-color: purple;
    color: white;
}
